<div class="row marketing">
  <h3>Living in close proximity but in insolation.</h3>
  <p>
    CubbyLife has been created by an apartment dweller for other apartment dwellers so that we could connect with each other and engage with their building manager and strata.
  </p>
</div>

<div class="col-lg-6">
  <h4><i class="fa fa-lightbulb-o"></i> Ideas</h4>
  <p>
    This website application has been designed to connect the people living in apartments with their building managers. The original intent was to replace the impersonal notices that sporadically popped up in elevators and mailboxed with an interactive tool that actively involved building occupants with the decisions being made by the stratas and body corps.
  </p>
  <h4><i class="fa fa-comments"></i> Participate</h4>
  <p>
    As the website takes shapes many new interesting features are uncovered through the feedback from the community. Your insgihts are always welcome, this website needs to keep adapting to align the community's needs and that won't be possible without your help. Stay in touch via the following channels and your ideas and views will be taken to heart.
  </p>
</div>
<div class="col-lg-6">
  <h4><i class="fa fa-group"></i> Connect</h4>
    <p>
    Curious about the events that have been planned for your building? Get connected and meet some of your neighbours <%= link_to('Sign up', user_path, :class => "btn btn-default btn-lg btn-block",  :role => "button") %>
  </p>
  <h4><i class="fa fa-info-circle"></i> Resources</h4>
  <ul>
    <li><a href="#">Building Information</a></li>
    <li><a href="http://www.newtowncentre.org/">Neighbourhood Guide</a></li>
    <li><a href="#">Preferred Service Providers</a></li>
    <li><a href="http://www.fairtrading.nsw.gov.au/ftw/Tenants_and_home_owners/Strata_schemes.page">NSW Strata Schemes</a></li>
    <li><a href="http://www.fairtrading.nsw.gov.au/ftw/Tenants_and_home_owners/Renting_a_home/Starting_a_tenancy.page?">Tenant Guidelines</a></li>
  </ul>
</div>