<section class="home">
  <h2>Welcome</h2>
  <article>
    <p>
      CubbyLife has been created by an apartment dweller for other apartment dwellers so that we could connect with each other and engage with their building manager and strata.
    </p>
    <p>
      Curious about the events that have been planned for your building? Sign up now to get connected and meet some of your neighbours.
    </p>
  </article>
  <aside>
    <ul>
      <h2>Handy Resources</h2>
      <li><a href="#">Building Information</a></li>
      <li><a href="#">Neighbourhood Guide</a></li>
      <li><a href="#">Preferred Service Providers</a></li>
      <li><a href="http://www.fairtrading.nsw.gov.au/ftw/Tenants_and_home_owners/Strata_schemes.page">NSW Strata Schemes</a></li>
      <li><a href="http://www.fairtrading.nsw.gov.au/ftw/Tenants_and_home_owners/Renting_a_home/Starting_a_tenancy.page?">Tenant Guidelines</a></li>
  </ul>
  </aside>
</section>

<section class="about">
  <article>
    <h2>The Germination of an Idea</h2>
    <p>
    This website application has been designed to connect the people living in apartments with their building managers. The original intent was to replace the impersonal notices that sporadically popped up in elevators and mailboxed with an interactive tool that actively involved building occupants with the decisions being made by the stratas and body corps.
  </p>
  <p>
    As the website takes shapes many new interesting features are uncovered through the feedback from the community. Your insgihts are always welcome, this website needs to keep adapting to align the community's needs and that won't be possible without your help. Stay in touch via the following channels and your ideas and views will be taken to heart.
  </p>
  </article>
</section>