.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

html {
  background: url(cubbylife.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  max-width: 940px;
  min-height: 850px;
  margin: 0 auto;
  background-color: rgba(253, 255, 253, .8);
}

header {
  text-align: justify;
  height: 8em;
  padding: 2em 5%;
  background: #465259;
  color: #fff;
}

header::after {
  content: '';
  display: inline-block;
  width: 100%;
}

header > div,
header nav,
header div h1 {
  display: inline-block;
  vertical-align: middle;
}

header > div {
  width: 50%;
  height: 100%;
  text-align: left;
}

header > div::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header a{
  text-decoration: none;
  color: #fff;
}

.welcome {
  text-align: right;
  font-weight: bold;
}

.container {
  padding: 2em;
}

li {
  list-style: none;
  padding: 0.5em;
}

label {
  font-weight: normal;
  text-align: right;
  width: 30%;
}

.new-btn {
  margin-left: 50%;
}

.action-btn {
  margin-left: 30%;
}

/******************************************************************/
/**                    Responsive Style                          **/
/******************************************************************/

@media screen and (max-width: 940px){

  header {
    height: auto;
  }

  header > div,
  header > div h1,
  header nav {
    height: auto;
    width: auto;
    display: block;
    text-align: center;
  }

}
